@(loggedIn: Boolean)(implicit request: RequestHeader, messages: Messages)
@import securesocial.core.UsernamePasswordProvider
@import helper._
@import securesocial.core.UsernamePasswordProvider
@import play.api.Play.current
@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("js/content_index.js")"></script>
    <script src="@routes.Assets.at("js/signup.js")"></script>
}


@content._chrome("", scripts, loggedIn = loggedIn) {
    <link rel="stylesheet" href="https://cdn.flame.exchange/css/style.css">
<!-- Hero unit -->
<div class="hero">
    <div class="hero__overlay hero__overlay--gradient"></div>
    <div class="hero__mask"></div>
    <div class="hero__inner">
        <div class="container">
            <div class="hero__content">
                <div class="hero__content__inner" id='navConverter'>
                    <h1 class="hero__title">Flame.Exchange</h1>
                    <p class="hero__text">Flame.Exchange is a cryptocurrency exchange that focuses on privacy, security, low fees & more!</p>
                    @if(!loggedIn){
                    <a href="signup" class="button button__accent">Signup</a>
                    <a href="login" class="button button__accent">Login</a>
                    }
                    @if(loggedIn){
                    <a href="dashboard" class="button button__accent">Go to Dashboard</a>
                    }
                    <a href="https://discord.gg/fEYMcvX" class="button hero__button">Join Our Discord</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero__sub">
    <span id="scrollToNext" class="scroll">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
    </span>
</div>
<!-- Steps -->
<div class="steps landing__section">
    <div class="container">
        <h2>What do we focus on?</h2>
        <p><!--TODO--></p>
    </div>
    <div class="container">
        <div class="steps__inner">
            <div class="step">
                <div class="step__media">
                    <img src="https://cdn.flame.exchange/images/key.png" class="step__image">
                </div>
                <h4>Security</h4>
                <p class="step__text">We to our very best to keep your funds safe. We also have a hot and cold wallet to prevent to big losses.</p>
            </div>
            <div class="step">
                <div class="step__media">
                    <img src="https://cdn.flame.exchange/images/privacy.png" class="step__image">
                </div>
                <h4>Privacy</h4>
                <p class="step__text">We don't collect any of your data, so you can have privacy to the fullest.</p>
            </div>
            <div class="step">
                <div class="step__media">
                    <img src="https://cdn.flame.exchange/images/wallet.png" class="step__image">
                </div>
                <h4>Low fees</h4>
                <p class="step__text">We keep our fees as low as we can, just to cover server costs and development fees.</p>
            </div>
        </div>
    </div>
</div>

<!-- Call To Action -->
<div class="cta cta--reverse">
    <div class="container">
        <div class="cta__inner">
            <h2 class="cta__title">Get started now</h2>
            <p class="cta__sub cta__sub--center">Sign up and start trading in seconds!</p>
            <a href="signup" class="button button__accent">Sign Up</a>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="footer footer--dark">
    <div class="container">
        <div class="footer__inner">
            <a href="index.html" class="footer__textLogo">Flame.Exchange</a>
            <div class="footer__data">
                <div class="footer__data__item">
                    <div class="footer__row">
                        Theme created by <a href="https://twitter.com/ninalimpi" target="_blank" class="footer__link">Katerina Limpitsouni</a>
                    </div>
                    <div class="footer__row">
                    Code/design of theme by <a href="https://twitter.com/anges244" target="_blank" class="footer__link">Aggelos Gesoulis</a>
                    </div>
                </div>
                <div class="footer__data__item">
                    <div class="footer__row">Special thx to <a href="https://bitcoin.org" target="_blank" class="footer__link">Bitcoin</a> for being a thing
                    </div>
                    <div class="footer__row">Icons by <a href="https://flaticon.com" target="_blank" class="footer__link">Flaticon</a>
                    </div>
                </div>
                <div class="footer__data__item">
                <div class="footer__row">
                    <a href="https://github.com/FlameExchange/Flame.Exchange" target="_blank" class="footer__link">GitHub</a>
                </div>
                <div>
                    <a href="https://discord.gg/fEYMcvX" target="_blank" class="footer__link">Discord</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://cdn.flame.exchange/js/app.min.js'></script>

    <script id="big-tickers-template" type="text/x-handlebars-template">
        {{#each this}}
        <div class="col-sm-3 col-md-2">
            <dl class="dl-horizontal dl-small">
                <dt><i class="glyphicon glyphicon-{{icon}}" style="color: {{color}};"></i></dt><dd class="big-ticker-pair">{{base}}/{{counter}}</dd>
                <dt>Last:</dt> <dd class="money">{{last}}</dd>
                <dt>Low:</dt> <dd class="money">{{low}}</dd>
                <dt>High:</dt> <dd class="money">{{high}}</dd>
                <dt>Vol:</dt> <dd class="money">{{volume}}</dd>
            </dl>
        </div>
        {{/each}}
    </script>
}
